@using X.PagedList
@using X.PagedList.Mvc.Core
@model IEnumerable<Nhom5_ASP_DKTQDN.Models.Khoa>

@{
    ViewData["Title"] = "KhoaList";
    Layout = "~/Views/Shared/_Layout - Admin.cshtml";
}
<h1>Danh Sách Khoa</h1>

<p>
    <a type="button" class="btn btn-primary" asp-action="CreateKhoa">Thêm khoa</a>
</p>
<table class="table table-bordered">
    <thread>
        <tr>
            <th>Mã Khoa</th>
            <th>Tên Khoa</th>
            <th>Số Điện Thoại</th>
            <th>Email</th>
            <th colspan="5" class="text-center">Handlers</th>
        </tr>
    </thread>
    <tbody>
        @foreach (Khoa item in Model)
        {
                                <tr>
                                    <td>@item.MaKhoa</td>
                                    <td>@item.TenKhoa</td>
                                    <td>@item.SoDienThoai</td>
                                    <td>@item.Email</td>
                                           <td class="text-center">
                                                        <a type="button" class="btn btn-warning" asp-area="" asp-controller="Khoa" asp-action="EditKhoa" asp-route-id="@item.Id">Sửa</a>
                                            </td>

                                            <td class="text-center">
                                                  <a type="button" class="btn btn-danger" onclick="confirmDelete(@item.Id)" @* asp-action="DeleteKhoaHoc" asp-route-id="@item.Id" *@>Xóa</a>
                                            </td>

                                </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("KhoaList",
                            new { page = page }),
                            new X.PagedList.Mvc.Core.PagedListRenderOptions
                        {
                            ContainerDivClasses = new[] { "navigation" },
                            LiElementClasses = new[] { "page-item" },
                            PageClasses = new[] { "page-link" }
                        }
                     )

@{
    var SuccessMessageCreateKhoa = TempData["SuccessMessageCreateKhoa"] as string;
    var SuccessMessageUpdateKhoa = TempData["SuccessMessageUpdateKhoa"] as string;
    var SuccessMessageDeleteKhoa = TempData["SuccessMessageDeleteKhoa"] as string;
}

@if (!string.IsNullOrEmpty(SuccessMessageCreateKhoa))
{
                                            <script>
                                                Swal.fire({
                                                    title: 'Thông báo',
                                                    text: 'Thêm thành công!',
                                                    icon: 'success',
                                                    confirmButtonText: 'Đóng'
                                                });
                                            </script>
}

@if (!string.IsNullOrEmpty(SuccessMessageUpdateKhoa))
{
                                        <script>
                                            Swal.fire({
                                                title: 'Thông báo',
                                                text: 'Sửa thành công!',
                                                icon: 'success',
                                                confirmButtonText: 'Đóng'
                                            });
                                        </script>
}
@if (!string.IsNullOrEmpty(SuccessMessageDeleteKhoa))
{
                                                <script>
                                                    Swal.fire({
                                                        title: 'Thông báo',
                                                        text: 'Xóa thành công!',
                                                        icon: 'success',
                                                        confirmButtonText: 'Đóng'
                                                    });
                                                </script>
}
<script>
    function confirmDelete(id) {
        Swal.fire({
            title: 'Bạn có chắc chắn muốn xóa?',
            text: "Hành động này không thể hoàn tác!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Xác nhận',
            cancelButtonText: 'Hủy'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/Khoa/DeleteKhoa/' + id;
            }
        });
    }
</script>
