@model IEnumerable<Nhom5_ASP_DKTQDN.Models.KhoaHoc>

@{
    ViewData["Title"] = "Danh sách khóa học";
}

<h1>Danh sách khóa học</h1>

<p>
    <a type="button" class="btn btn-primary" asp-action="CreateKhoaHoc">Thêm</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã khóa học
            </th>
            <th>
                Năm bắt đầu
            </th>
            <th>
               Năm kết thúc
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhoaHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamKetThuc)
            </td>
            <td>
                    <a type="button" class="btn btn-warning" asp-action="EditKhoaHoc" asp-route-id="@item.Id">Sửa</a> |
                <a type="button" class="btn btn-danger" asp-action="DeleteKhoaHoc" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
