@model IEnumerable<Nhom5_ASP_DKTQDN.Models.TaiKhoan>

@{
    ViewData["Title"] = "Danh sách tài khoản";
}

<h1>Danh sách tài khoản</h1>

<p>
    <a type="button" class="btn btn-primary" asp-action="CreateTaiKhoan">Thêm tài khoản</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên tài khoản
            </th>
            <th>
               Mật khẩu
            </th>
            <th>
                Quyền
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenTaiKhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quyen)
            </td>
            <td>
                    <a type="button" class="btn btn-warning" asp-action="EditTaiKhoan" asp-route-id="@item.Id">Sửa</a> |
                    <a type="button" class="btn btn-danger" asp-action="DeleteTaiKhoan" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
