@model IEnumerable<Nhom5_ASP_DKTQDN.Models.GiangVien>

@{
	ViewData["Title"] = "GiangVienList";
}

<h1>GiangVienList</h1>

<p>
	<a asp-action="CreateGiangVien" class="btn btn-primary">Thêm Giảng Viên</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.MaGiangVien)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TenGiangVien)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SoDienThoai)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsDeleted)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CreatedBy)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CreatedAt)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UpdatedBy)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UpdatedAt)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IdKhoaNavigation)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.MaGiangVien)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.TenGiangVien)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.SoDienThoai)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsDeleted)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreatedBy)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreatedAt)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UpdatedBy)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UpdatedAt)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IdKhoaNavigation.Id)
				</td>
				<td>
					<a asp-action="EditGiangVien" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
					<a asp-action="DeleteGiangVien" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
