@model IEnumerable<Nhom5_ASP_DKTQDN.Models.ChuyenDi>

@{
    ViewData["Title"] = "ChuyenDiList";
}

<h1>ChuyenDiList</h1>

<p>
    <a asp-action="CreateChuyenDi">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaChuyenDi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayThamQuan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HocKi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDoanhNghiepNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGiangVienNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdKhoaHocNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdKhoaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaChuyenDi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayThamQuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HocKi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDoanhNghiep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGiangVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKhoaHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKhoa)
            </td>
            <td>
                <a asp-action="EditChuyenDi" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DeleteChuyenDi" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
