@model IEnumerable<Nhom5_ASP_DKTQDN.Models.ChuyenDi>
@using X.PagedList
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "ChuyenDiList";
    Layout = "~/Views/Shared/_Layout - Admin.cshtml";
}

<h1>Danh sách chuyến đi</h1>

<p>
    <a asp-action="CreateChuyenDi">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên doanh nghiệp
            </th>
            <th>
                Giảng viên
            </th>
            <th>
                    Mã khoa
            </th>
            <th>
                Khoa
            </th>
            <th>
                Ngày tham quan
            </th>
            <th>
                Slot
            </th>
            <th>
                Trạng thái
            </th>
            <th>
               Học kì
            </th>
            <th>
                Năm học
            </th>        
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdDoanhNghiepNavigation.TenDoanhNghiep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGiangVienNavigation.TenGiangVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKhoaHocNavigation.MaKhoaHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdKhoaNavigation.TenKhoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayThamQuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slot)
            </td>
                @if (item.TrangThai == 0)
                {
                    <td style="color:green">
                        Hoạt động
                    </td>
                }
                else
                {
                    <td style="color:red">
                        Đang đóng
                    </td>
                }           
            <td>
                @Html.DisplayFor(modelItem => item.HocKi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamHoc)
            </td>
   
            <td>
                <a asp-action="EditChuyenDi" asp-route-id="@item.Id">Sửa</a>|
                <a asp-action="DanhSachDangKi" asp-controller="ChiTietDangKy" asp-route-id="@item.Id">Danh sách đăng kí</a> |
                <a asp-action="DeleteChuyenDi" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("ChuyenDiList",
                new { page = page }),
                new X.PagedList.Mvc.Core.PagedListRenderOptions
            {
                ContainerDivClasses = new[] { "navigation" },
                LiElementClasses = new[] { "page-item" },
                PageClasses = new[] { "page-link" }
            }
                )
